body {
  font-family: Helvetica Neue, Arial, sans-serif; }

li.done {
  text-decoration: line-through; }

.msg {
  transition: all 0.3s ease;
  height: 30px;
  padding: 10px;
  background-color: #eeeeee;
  overflow: hidden; }

.msg.v-enter, .msg.v-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0; }
